* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Ans01 {
    padding: 10px;
    text-align: center;
    
}

.Ans01 a {
    color: rgb(78, 70, 70);
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.mobiles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(159, 159, 159);
    padding: 20px;
}

.mobiles .firstmob img {
    width: 200px;
    transition: all 0.4s ease-in-out;
    border-radius: 12px;

}

.mobiles .firstmob img:hover {
    transform: translateY(-13px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.mobiles .secondmob img {
    width: 200px;
    transition: all 0.4s ease-in-out;
    border-radius: 12px;

}

.mobiles .secondmob img:hover {
    transform: translateY(-13px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.mobiles .thirdmob img {
    width: 200px;
    transition: all 0.4s ease-in-out;
    border-radius: 12px;

}

.mobiles .thirdmob img:hover {
    transform: translateY(-13px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.mobiles h6 {
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.changeimg img {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.searchbox {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: solid 2px black; */
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(159, 159, 159);
}

.searchbox input {
    box-shadow: 2px 2px 10px rgb(159, 159, 159);
    background-color: gray;
    border: 2px solid gray;
    border-radius: 50px;
    outline: none;
    width: 300px;
    padding: 5px 10px;

}

.searchbox input:hover{
    border-color: black;
    /* transform: scale(1.1); */
}

.searchbox label {
    font-weight: bold;
}

.searchbox button {
    font-weight: bold;
    background-color: gray;
    border: 2px solid gray;
    padding: 4px 8px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgb(159, 159, 159);
    transition: all 0.3s ease-in-out;

}

.searchbox button:hover{
    background-color: white;
    transform: scale(1.1);
}

#studentmanegmenth1{
    text-align: center;
    color: rgb(78, 70, 70);
    padding: 10px;
}

table {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

td{
    padding: 5px 15px;
    border: 1px solid gray;
}

th {
    padding: 5px 15px;
    border: 2px solid gray;
}

.deletebtn{
    background-color: red;
      font-weight: bold;
    border: 2px solid red;
    padding: 4px 8px;
    border-radius: 10px;
     transition: all 0.3s ease-in-out;
    /* box-shadow: 2px 2px 5px rgb(159, 159, 159); */

}

.deletebtn:hover{
    background-color: white;
    color: red;
    transform: scale(1.1);
    
}